.App {
    min-height: 90vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #212534;
}

button {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.2em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 20px 20px rgba(255, 255, 255, 0.2),
    1px 2px 1px rgba(0, 0, 0, 0.2),
    0 0 2px 8px rgba(50, 50, 50, 0.1);
    transition: all 0.3s ease-out;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .App {
        flex-direction: column;
        min-width: 0;
    }
}

